<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
     <link rel='stylesheet' href="/main.css">
</head>
<body>
    
</body>
</html>
   <div class="container">
    <div class="row">
        <div class="col-6"><img class='msg' src='images/error.png'></div>
        <div class="col-6">
            <p class='msg'>Oops!Something went wrong!</p>
            <a href="/">GO BACK TO HOME PAGE</a>
        </div>
    </div>
</div>