<h1>My Blog</h1>
<h3>Please sign up or log in</h3>

<div class='row text-center'>
    <div class='btn-group buttons'>
        <a href="/login"><button type='button' class='btn-primary btn-lg btn-block'>Log In</button></a>

        <a href="/signup"><button type='button' class='btn-primary btn-lg btn-block'>Sign Up</button></a>
    </div>
</div>