<div class="container-fluid ">

<div class="row">
   <h1 class='name'>Black Log</h1>
<!--   <img src="images/2.jpg" class="logo">-->
    <img src="images/girl1.jpg" class= 'first-page'> 
</div>
<div class="row intro">
<div class="col-12">

<p>Sometimes something unpleasant happens...You broke a hill of your new Manolo Blahnik shoes on the way to work?..They served you pork on a plane instead of your vegeterian meal?..Annoying, isn't it? Your husband thinks it's nothing? Your friend is too busy with her kids to listen to you bragging? It's ok, darling! We got you! Our Black Log was created just for that! You can vent all you want! We are here to listen!</p>
<h3>Please sign up or log in</h3>

</div>
</div>
<div class='row center first-page'>
    <div class='btn-group buttons'>
        <a href="/login"><button type='button' class='btn btn-primary btn-lg btn-block'>Log In</button></a>
    </div>
    <div class='btn-group buttons'>

        <a href="/signup"><button type='button' class='btn btn-primary btn-lg btn-block'>Sign Up</button></a>
    </div>
</div>
</div>
<!--</div>-->