<p>login</p>

<form action='/login' method='post'>
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input name='username' type="text" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input name='password' type="password" class="form-control" placeholder="Password" required>
    </div>
      
   <button name='log-in' type="submit" class="btn btn-primary">Log In</button>