<div class="container">
<h2>signup</h2>

<form action='/signup' method='post'>
  <div class="form-group">
    <label for="inputFirstName">First Name</label>
    <input name='first_name' type="text" class="form-control" placeholder="First name" required>
  </div>
  <div class="form-group">
    <label for="inputLastName">Last Name</label>
    <input name='last_name' type="text" class="form-control" placeholder="Last name" required>
  </div>
  <div class="form-group">
    <label for="inputBirthday">Birthday</label>
    <input name='birthday' type="date" class="form-control" placeholder="Birthday" required>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input name='email' type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input name='username' type="text" class="form-control" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input name='password' type="password" class="form-control" placeholder="Password" required>
  </div>
  
  <button name='sign-up' type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>